.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.wrapper {
  display: flex;
  align-items: center;
  width: 50%;
  height: 40%;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  position: relative;
  flex-wrap: nowrap;
  overflow: hidden;

  .active {
    display: flex;
    position: relative;
    margin: 0 auto;
    min-width: unset;
    border-radius: 12px;
    background-color: red;
    opacity: 0;
    color: black;
    animation-name: fadeIn;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.2;
    }
    40% {
      opacity: 0.4;
    }
    70% {
      opacity: 0.6;
    }
    100% {
      opacity: 0.8;
    }
  }

  .fadeOut {
    opacity: 0;
    animation-name: fadeOut;
    animation-timing-function: linear;
    animation-duration: 0.5s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeOut {
    0% {
      opacity: 0.8;
    }
    40% {
      opacity: 0.6;
    }
    70% {
      opacity: 0.4;
    }
    100% {
      opacity: 0.2;
    }
  }
}

.item {
  display: none;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  min-width: 100%;
  border-radius: 12px;
  background-color: red;
  opacity: 0.5;
  align-items: center;
  justify-content: center;
}

.prev,
.next {
  font-size: 40px;
  opacity: 0.5;
  z-index: 2;
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.prev {
  transform: rotate(-90deg);
}
.next {
  transform: rotate(90deg);
}
