.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: calc(100vh - 200px);
  max-width: 768px;
  margin: 0 auto;
  .generateLink {
    height: fit-content;
    margin: auto auto;
    padding: 12px;
    min-width: 148px;
    justify-content: space-between;
  }
}

.chatInput {
  position: absolute;
  bottom: 0;
  width: 100%;

  button {
    height: 36px;
  }
}
