.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  height: calc(100vh - 256px);
  margin: 0 auto;
  .generateLink {
    height: fit-content;
    margin: auto auto;
    padding: 12px;
    min-width: 148px;
    justify-content: space-between;
  }
}

.chatInput {
  position: fixed;
  bottom: 0px;
  padding: 20px;
  margin: 0 auto;
  background-color: black;

  button {
    height: 36px;
  }
}

@media only screen and (max-width: 1023.98px) {
  .chatInput {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .chatInput {
    width: calc(100% - 200px);
    left: 200px;
  }
}
