.wrapper {
  display: flex;
  height: 100%;
}

.lhs {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: calc(100vh - 100px);
  width: 50%;
}

.textArea {
  display: block;
  background-color: white;
  resize: none;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  padding: 20px;
}
.rhs {
  position: relative;
}
