@import "./../../styles/index.scss";
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 57px;
  padding: 12px 16px;
  border-bottom: 1px solid gray;
  span {
    display: inline-flex;
    align-items: center;
    margin-left: 64px;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: rgba($color: gray, $alpha: 0.3);
    white-space: nowrap;
  }
  .profileIcon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
  }

  .label {
    display: none;
  }
}

.info {
  margin-left: 8px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}

@include if-device(desktop-tablet) {
  .wrapper {
    justify-content: space-between;
    span {
      margin-left: 0;
      display: none;
    }
    .label {
      display: flex;
      align-items: center;
      padding: 6px 10px;
      border-radius: 6px;
      background-color: rgba($color: gray, $alpha: 0.3);
    }
  }
}
