@import "./../../styles/index.scss";

.sidebarWrapper {
  display: block;
  border-right: 1px solid gray;
  min-height: 100vh;
  min-width: fit-content;
  position: absolute;
  top: 0;
  background-color: #282c34;
}
.sidebarItem {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  border-bottom: 1px solid gray;

  &:hover {
    color: #999090;
  }

  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 16px;
  }
}
.menuIconWrapper {
  display: flex;
  padding: 12px 16px;
  position: absolute;
}
.menuIcon {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

@include if-device(desktop-tablet) {
  .menuIcon {
    display: none;
  }
}
