@import "./../../styles/index.scss";

.modal {
  font-family: "Times New Roman", Times, serif;
  margin-top: auto;
  margin-bottom: 0;
  height: fit-content;
}
.title {
  font-weight: bold;
  margin-bottom: 24px;
  width: fit-content;
  padding: 4px 10px;
  background-color: rgb(210, 235, 243);
  border-radius: 6px;
}

.step {
  font-size: 14px;
  margin-bottom: 12px;
  display: block;
  &:last-child {
    margin-bottom: 0;
  }
}

@include if-device(desktop-tablet) {
  .modal {
    margin: auto;
    font-size: 16px;
    max-width: 540px;
  }

  .title {
    font-size: 18px;
  }
  .step {
    font-size: 16px;
  }
}
