@import "./../../styles/index.scss";

.modal {
  margin-top: auto;
  margin-bottom: 0;
  height: fit-content;
}
.title {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
  width: fit-content;
  padding: 8px 10px;
  background-color: rgb(210, 235, 243);
  border-radius: 6px;
}

.step {
  font-size: 14px;
  display: block;
  font-family: sans-serif;
  margin-bottom: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}
.noteTitle {
  margin: 16px 0 8px 0;
  width: fit-content;
  font-family: sans-serif;
  font-weight: bold;
  background: rgba(127, 127, 127, 0.3);
  padding: 4px 8px;
  border-radius: 4px;
}

.noteTitle + ul {
  margin-left: 16px;
}

.note {
  font-size: 14px;
  margin-bottom: 4px;
  font-family: sans-serif;
}

@include if-device(desktop-tablet) {
  .modal {
    margin: auto;
    font-size: 16px;
    max-width: 540px;
  }

  .title {
    font-size: 18px;
  }
  .step {
    font-size: 16px;
  }
  .note {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .modal {
    position: relative;
    left: 104px;
  }
}
