@import "./../../styles/index.scss";

.wrapper {
  max-width: 768px;
  margin: 0 auto;
}

.header {
  font-size: 0.875rem;
  display: flex;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;

  .contact {
    display: none;
  }

  h2 {
    margin-bottom: 16px;
  }

  .profile {
    margin-right: 32px;
    height: 120px;
    width: 96px;
    margin-bottom: 16px;
    border-radius: 8px;
  }
  p {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 16px;
  }
}
.contact {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
}
.phone {
  font-size: 14px;
  background-color: rgba(128, 128, 128, 0.3);
  color: white;
  border-radius: 24px;
  padding: 4px 8px;
  padding-left: 4px;
  font-family: "georgia, Times New Roman", Times, serif;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  .phoneImg {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 4px;
  }
}

@include if-device(desktop-tablet) {
  .header {
    font-size: 1rem;
    background: black;
    padding: 20px;
    border-radius: 8px;
    border: none;
    .contact {
      display: flex;
      flex-wrap: wrap;
      column-gap: 32px;
    }
    .profile {
      margin-bottom: 0;
      height: 130px;
      width: 104px;
    }
    .phone {
      color: white;
      border-radius: 24px;
      padding: 4px 8px;
      padding-left: 4px;
      font-family: "Times New Roman", Times, serif;
      display: flex;

      align-items: center;
      margin-bottom: 16px;
      .phoneImg {
        height: 24px;
        width: 24px;
        border-radius: 50%;
        margin-right: 4px;
      }
    }
  }
  .contact {
    display: none;
  }
  .profile {
    margin-bottom: 0;
  }
}
