@import "./../../styles/index.scss";
.wrapper {
  width: 100%;
  color: black;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
}
.lhs,
.rhs {
  flex: 1;
}
.heading {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #0f59bb;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -0.5px;
  margin-bottom: 12px;
}

.resumeItem {
  font-size: 14px;
  letter-spacing: -0.5px;
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid gray;
  ul {
    padding-left: 16px;
    li {
      margin-bottom: 8px;
    }
  }
  a {
    color: #0f59bb;
    text-decoration: underline;
  }
}

.duration {
  color: gray;
  font-size: 14px;
  margin-bottom: 10px;
  span {
    margin-left: 16px;
    font-weight: bold;
  }
}

@include if-device(desktop-tablet) {
  .wrapper {
    display: flex;
    column-gap: 20px;
  }
  .heading {
    font-size: 14px;
  }
  .resumeItem {
    font-size: 16px;
  }
}
