.wrapper {
  font-family: "Poppins", sans-serif;
}
.header {
  margin-bottom: 32px;
}
.subHeader,
.projectHeader {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 8px;
}
.projectHeader {
  margin-bottom: 16px;
}
.separator {
  width: 40px;
  height: 5px;
  background: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
  border-radius: 3px;
}

.skillWrapper {
  display: flex;
  flex-direction: column;
}

.skillItem {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding: 16px;
  z-index: 1;
  margin-bottom: 20px;
  border-radius: 8px;
  background: linear-gradient(
    to bottom right,
    hsl(0deg, 0%, 25%) 0%,
    hsla(0deg, 0%, 25%, 0) 50%
  );
  box-shadow: 0 16px 30px hsl(0deg 0% 0% / 25%);

  &::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: linear-gradient(
        to bottom right,
        hsla(240deg, 1%, 18%, 0.251) 0%,
        hsla(240deg, 2%, 11%, 0) 100%
      ),
      hsl(240deg, 2%, 13%);
    border-radius: inherit;
    z-index: -1;
  }
}

.skillImg {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 50%;
  background: hsla(0, 0%, 50.2%, 0.2);
}
.techTitle {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.skillDescription {
  color: #8b949e;
}

.section {
  color: #8b949e;
  margin-bottom: 20px;
}
.actionItem {
  display: flex;
  position: relative;
  padding: 0 0 16px 0;
  z-index: 1;
  margin-bottom: 20px;
  border-radius: 8px;
  background: linear-gradient(
    to left left,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 25%
  );
  box-shadow: 0 16px 30px hsla(0, 0%, 0%, 0.25);

  .dotWrap {
    height: 36px;
    width: 36px;
    padding: 8px;
    background: rgba(128, 128, 128, 0.3);
    margin-right: 16px;
    border-radius: 50%;
    .dot {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      background: linear-gradient(
        to right,
        hsl(45, 100%, 72%),
        hsl(35, 100%, 68%)
      );
    }
  }
  .meta {
    flex: 1;
    .position {
      font-size: 1rem;
    }
    h3 {
      font-size: 1.3rem;
      margin-bottom: 8px;
    }
    .duration {
      font-size: 0.9rem;
      color: #ceb15a;
      span {
        color: white;
      }
    }
    .description {
      font-size: 1rem;
      color: #8b949e;
      margin-bottom: 4px;
    }
  }
}

.leftBorder {
  &::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 18px;
    width: 1px;
    height: 100%;
    background-color: gray;
    z-index: -1;
  }
}
