.wrapper {
  height: calc(100vh - 360px);
  .toolbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    button {
      width: fit-content;
      padding: 0 8px;
      height: 40px;
    }
  }

  input[type="color"] {
    display: block;
    cursor: pointer;
    width: 100%;
  }
  input[type="range"] {
    display: block;
    cursor: pointer;
  }
}
.drawerInput {
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  margin-right: 32px;
}
.canvas {
  margin-bottom: 20px;
  border-radius: 8px;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .wrapper {
    width: calc(100vw - 248px);
    height: calc(100vh - 200px);
  }
}
