@import "./../../styles/index.scss";
.wrapper {
  height: calc(100vh - 360px);
  .toolbar {
    display: flex;
    width: 100%;
    justify-content: center;
    button {
      width: fit-content;
      padding: 0 8px;
    }
  }

  input[type="color"] {
    display: block;
    cursor: pointer;
    width: 100%;
  }
  input[type="range"] {
    display: block;
    cursor: pointer;
  }
}
.drawerInput {
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  margin-right: 32px;
}
.canvas {
  margin-bottom: 20px;
}

@include if-device(desktop-tablet) {
  .wrapper {
    width: calc(100vw - 200px);
    height: calc(100vh - 200px);
  }
}
