@import "./../../styles/index.scss";

.wrapper {
  font-size: 14px;
}
.header {
  margin-bottom: 16px;

  span {
    display: inline-block;
    margin-right: 16px;
    margin-bottom: 16px;
  }
}
.urlInput {
  background-color: white;
  border-radius: 6px;
  line-height: 28px;
  padding: 4px;
  flex: 1;
  font-size: 16px;
  width: 100%;
  margin-right: 16px;
  color: grey;
  font-weight: bold;
  margin-bottom: 16px;
}
.deeplinkUrl {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-wrap: wrap;

  span {
    display: inline-block;
    background-color: white;
    padding: 6px;
    color: black;
    border-radius: 6px;
    margin: 10px 0;
    font-size: 12px;
    margin-right: 4px;
  }
  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
  }
}
.video {
  padding-top: 56%;
  position: relative;
  background-color: gray;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

@include if-device(desktop-tablet) {
  .wrapper {
    font-size: 16px;
  }
  .header {
    display: flex;
    align-items: center;
    span {
      display: inline;
      margin-bottom: 0;
    }
  }
  .urlInput {
    margin-bottom: 0;
  }
  .deeplinkUrl {
    span {
      margin-left: 20px;
      margin-right: 16px;
    }
  }
}
