.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  span {
    margin-right: 16px;
  }
}
.urlInput {
  background-color: white;
  border-radius: 6px;
  line-height: 28px;
  padding: 4px;
  flex: 1;
  margin-right: 16px;
  color: grey;
  font-weight: bold;
}
.deeplinkUrl {
  display: flex;
  margin-bottom: 32px;
  align-items: center;
  span {
    background-color: white;
    padding: 6px;
    color: black;
    border-radius: 6px;
    margin-left: 20px;
    margin-right: 16px;
  }
  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
  }
}
.video {
  padding-top: 56%;
  position: relative;
  background-color: gray;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
