@import "./../../styles/index.scss";

.header {
  font-size: 0.875rem;
  display: block;
  border-bottom: 1px solid grey;

  h2 {
    margin-bottom: 16px;
  }

  .profile {
    margin-right: 32px;
    height: 120px;
    width: 96px;
    margin-bottom: 16px;
  }
  p {
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 16px;
  }
  .contact {
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
  }
  .phone {
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 4px;
    font-family: "Times New Roman", Times, serif;
    display: flex;

    align-items: center;
    margin-bottom: 16px;
    .phoneImg {
      height: 24px;
      width: 24px;
      border-radius: 50%;
      margin-right: 4px;
    }
  }
}

@include if-device(desktop-tablet) {
  .header {
    display: flex;
    font-size: 1rem;
  }
  h2 {
    margin-bottom: 32px;
  }

  .profile {
    margin-bottom: 0;
  }
}
