.App-link {
  color: #61dafb;
}

#drawer {
  width: calc(100% - 40px);
  height: 600px;
  background: white;
}

#canvas {
  height: 100%;
  width: 100%;
}

.vertical-line {
  width: 2px;
  background-color: gray;
  margin: 0 20px;
}
.button {
  padding: 5px;
  border-radius: 5px;
  background-color: #7ed321;
}
