code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
}

.ReactModal__Body--open {
  overflow: hidden;
}

body,
html {
  min-height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.3;
  text-rendering: geometricPrecision;
}

button {
  cursor: pointer;
}

button:focus {
  border: 0;
  outline: 0;
}

small {
  font-size: 12px;
}

a {
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
}

::-webkit-input-placeholder {
  color: #bcbcbc;
}

::-moz-placeholder {
  color: #bcbcbc;
}

:-ms-input-placeholder {
  color: #bcbcbc;
}

:-moz-placeholder {
  color: #bcbcbc;
}

button:focus {
  outline: none;
}

button,
input,
label,
select,
textarea {
  background: none;
  border: 0;
  display: inline-block;
  font-size: 100%;
  line-height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal;
}

input:focus,
textarea:focus {
  outline: 0;
}

button,
input[type="button"],
input[type="checkbox"],
input[type="radio"],
input[type="reset"],
input[type="submit"],
select {
  box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
  height: 13px;
  width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

::-webkit-search-decoration {
  display: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  overflow: visible;
  width: auto;
}

::-webkit-file-upload-button {
  background: none;
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

select[multiple],
textarea {
  vertical-align: top;
}

abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

a {
  background: transparent;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}

a,
ins {
  text-decoration: none;
}

ins,
mark {
  background-color: #ff9;
  color: #000;
}

mark {
  font-style: italic;
  font-weight: 700;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.ellipsis {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.hide {
  display: none !important;
}
body {
  margin: 0;
  font-family: georgia, times-new-roman, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  min-height: 100vh;
}

button {
  padding: 6px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  background-color: rgb(67 127 1);
}
