@import "./../../styles/index.scss";

.authWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  align-items: center;
  max-width: 540px;
  margin: 0 auto;
}

.apiError {
  font-size: 12px;
  position: absolute;
  top: 40px;
  color: red;
  font-family: sans-serif;
}

.wrapper {
  font-size: 14px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.fieldWrapper {
  width: 100%;
  position: relative;
}
.urlInput {
  background-color: white;
  border-radius: 6px;
  line-height: 28px;
  padding: 10px;
  flex: 1;
  width: 100%;
  color: black;
  font-size: 16px;
  margin-bottom: 28px;
}
.error {
  font-size: 12px;
  position: absolute;
  bottom: 10px;
  color: red;
  font-family: sans-serif;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    font-size: 16px;
    margin-right: 20px;
    width: 120px;
  }
  a {
    color: dodgerblue;
    text-decoration: underline;
  }
}

.googleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px auto 0 auto;
  font-size: 14px;
  font-family: sans-serif;
  padding: 4px 10px;
  color: black;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  img {
    height: 28px;
    width: 28px;
    margin-right: 8px;
  }
}

@include if-device(desktop-tablet) {
  .wrapper {
    font-size: 16px;
  }
  .header {
    display: flex;
    align-items: center;
  }
}
